html {
	background-color: #2BFFF0;
	padding-top: 30px;
	padding: 60px;
	background: -webkit-linear-gradient(#FDFDF0, #A055F0);
}
body {
	width: 50%;
	background-color: #707070
	border: 4px dashed #9FF00F;
	background: #fc3;  
	padding: 15px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 10px 10px 25px rgba(0,0,0,0.8);
	background-image: url(./images/123.jpg);
}
p {
	font-family: "Comfortaa", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	color: #FFFF00;
	font-size: 16pt;
	margin-top: 20px;
	margin-left: 60px;
}
h1, h2 {
	color: rgb(144, 64, 45);
}
h1 {
	font-size:50px;
	text-align: center;
	margin-bottom: 100px;
}
h2 {
	border-bottom: 2px white solid;
	background: url(./images/head-icon.png) no-repeat 10px 2px;
	padding: 0 0 2px 30px;
	margin: 0;
}

    
          
            
    

          
          Expand Down
    
    
  
.intro {
	color: #FFFFE1;
	font-size: 1.4em;
	margin-left: 10px;
	margin-bottom: 25px;
}
address {
	font-size: 1.25em;
	color: #DFF381;
	line-height: 150%;
	margin-top: 20px;
	margin-left: 60px;
}
